.parent {
  display: table;
  height: 150px;
  width: 100%;
  border-bottom: 1px solid black;
}

.parent:first-child {
  padding: 50px 0 30px 0;
}

.parent:last-child {
  border: none;
}

#concern-item-model {
  width: 100%;
}

#colLeft {
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px;
}

#colCenter {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

#colRight {
  display: table-cell;
  width: 140px;
  vertical-align: middle;
  padding: 0 30px;
}

#colwrap{
  overflow: hidden;
}

.very-high {
  color: red
}

.high {
  color: orange
}

.medium {
  color: #FFD800
}
