html, body {
  font-family: 'Source Sans Pro';
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.hidden {
    display: none
}

.report-header {
  position: relative;
  background: #1866a7;
  height: 95px;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  color: white
}

.healit-title {
  padding-left: 20px;
}

.report-navbar {
  position: absolute;
  bottom: 0px;
  left: 42px;
  float: left;
}

.navbar-nav li a{
  color: white;
  padding: 5px;
}

.navbar-nav > li > a:hover {
  background-color: inherit;
  color: #0d3251;
}

#nav-item-active {
  background-color: #FFF;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: #0d3251;
}

.vertical-center {
  position: relative;
  min-height: 0px;
  top: 50%;
  transform: translateY(-50%);
}


.clear {
  clear: both;
}
