html, body {
  font-family: 'Source Sans Pro';
  margin: 0px;
  padding: 0px;
}

.report-header {
  position: relative;
  background: #435561;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.healit-title {
  padding-left: 20px;
}

.report-navbar {
  position: absolute;
  bottom: 0px;
  left: 42px;
  float: left;
}

.navbar-nav li a{
  color: white;
}

.navbar-nav > li > a:hover {
  background-color: inherit;
  color: inherit;
}

#nav-item-active {
  color: #6699FF;
}

.vertical-center {
  display: flex;
}

.vertical-center {
  position: relative;
  min-height: 0px;
  top: 50%;
  transform: translateY(-50%);
}


.clear {
  clear: both;
}
