html, body {
  font-family: 'Geneva', 'Source Sans Pro';
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ebebeb;
}

.hidden {
    display: none
}

.header-banner {
  background-color: #1866a7
}

.report-header {
  position: relative;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  color: white
}

.healit-title {
  padding: 15px;
  font-size: 40px;
}

.report-navbar {
  position: absolute;
  bottom: 0px;
  left: 42px;
  display: inline-block;
  /*float: left;*/
}

.navbar-nav li a{
  color: white;
  padding: 5px 10px;
}

.navbar-nav > li > a:hover {
  background-color: inherit;
  color: #0d3251;
}

#nav-item-active {
  background-color: #f7f7f7;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: #0d3251;
}

.vertical-center {
  position: relative;
  min-height: 0px;
  top: 50%;
  transform: translateY(-50%);
}


.clear {
  clear: both;
}
